main{ 
	width:1000px;
	text-align: left;
	margin: 0 auto 0 auto;
	background: #dddddd;
}

h1  {background-color: yellow; 
	text-shadow: brown;
	text-align:center;
}


   
			
span {
		color: Black;
		font-weight: bold;
			}
    
h2  {background-color: cyan;}
   

p span {font-style: italic;
				
}
			
span {	color: Black;
		font-weight: bold;
}

article {
	margin-left: 12em;
	padding-left: 1em;
	border-left: 0.1em solid red;
}

footer{

    background-color: red;
    padding: 1em;
    text-align: center;
}